    <footer class="footer">
      <div class="container">
        <div class="text-center">
          <p>Created by Varun Chandrashekar as part of</p>
          <a href="https://www.udemy.com/the-web-developer-bootcamp/"> Colt Steele's Web Developer Bootcamp </a>
        </div>
      </div>
    </footer>
    
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>